<div>
    <p>Hello team,</p>

    <div>
        <strong>Summary of critical issues:</strong>
        <p>n/a</p>
    </div>
    <div>
        <strong>Done today {{ date }}:</strong>
        <p>Some</p>
    </div>
</div>